/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

/* Board Styles */
.board {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.5rem;
  letter-spacing: .15em;
  line-height: 1.5;
  text-shadow: 1px 1px #666, 3px 3px #000;
  width: 150px;
  height: 250px;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  border: 10px solid #eee;
  background: linear-gradient( #0e0e0e 65%, #030303 66%) top center / 100% 30% repeat-y;
  box-shadow: 
    0px -1px 0px 2px #aaa, 
    0 -7px 5px -5px #000, 
    0 -15px 30px -15px #000, 
    0 3px 4px -2px #000, 
    -60px 30px 70px -70px #000, 
    70px 30px 70px -70px #000, 
    0px 200px 20px rgba(255, 255, 255, 0.05),
    inset 0 0 25px #000, 
    inset 0 0 5px #000;
    position: relative;
    margin: 90px;
    margin-top: 20px;
}

board:focus {
  outline: none;
}

.board::before {
  content: "Any fruit you're craving?";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5); /* Slightly transparent white */
}

.board:focus::before {
  display: none; /* Hide the temporary text when the board is focused */
}

.board::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50;
  top: calc(50%);
  z-index: -1;
  box-shadow:  0 -2px 3px rgba(0, 0, 0, 0.1), inset 0 2px 2px rgba(0, 0, 0, 0.15), inset 0 10px 300px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 300px;
  left: calc(50% - 300px);
  top: 30px;
  filter: drop-shadow(20px 10px 20px rgba(0,0,0,.3));
}

.board u {
  color: #fd0;
  text-decoration: underline;
}