<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixology Butler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link to your main styles.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}"> <!-- Link to your toggle.css file -->
</head>
<body id="pageBody" class="customer-theme"> <!-- Add dynamic class based on user type -->


<!-- Add dynamic class based on user type -->

{% set user_type = 'Rapid Fire' %}

<div class="container">
    <div class="header">
        <h1>Mixology Butler</h1>
    </div>

    <div class="toggle-container">
        <input type="checkbox" id="toggle" class="toggle-input">
        <label for="toggle" class="toggle-label"></label>
    </div>

    <p id="userTypeText">
        {% if user_type == "Rapid Fire" %}
            Play a cocktail version of 'Would you rather?'.
        {% else %}
            How would you describe your ideal cocktail?
        {% endif %}
    </p>

    <button id="submitBtn">Submit</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggle = document.getElementById('toggle');
        const userTypeText = document.getElementById('userTypeText');
        const submitBtn = document.getElementById('submitBtn');

        toggle.addEventListener('change', () => {
            if (toggle.checked) {
                userTypeText.textContent = "How would you describe your ideal cocktail?";
            } else {
                userTypeText.textContent = "Play a cocktail version of 'Would you rather?'.";
            }
        });

        submitBtn.addEventListener('click', () => {
            const user_type = toggle.checked ? 'Survey' : 'Rapid Fire';
            window.location.href = `/${user_type}`;
        });
    });
</script>




</body>
</html>
